body {
  background-image: url("./restaurant.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 2rem 1rem;
  color: #ffffff;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

#logo {
  padding-left: 10rem;
  width: 8rem;
  height: 4rem;
  border-radius: 4px;
  filter: drop-shadow(2px 4px 8px #393939);
}

button {
  border: none;
  border-radius: solid;
  color: #fff;
  background-color: rgb(0, 0, 0, 0%);
  font-size: 1rem;
  margin: 0 2rem;
  cursor: pointer;
}

#reservation {
  border: solid 1px #fff;
  padding: 0.5rem;
  border-radius: 6px;
}

#reservation:active {
  background-color: #fff;
  color: #000;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10rem;
  position: relative;
  background: rgba(28, 28, 28, 0.9);
  padding: 2rem 0;
  text-align: center;
}

#info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
}

#imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 10px;
}

p {
  color: #fff;
  max-width: 50ch;
  line-height: 1.5rem;
}

img {
  width: 20rem;
  height: 15rem;
  border-radius: 8px;
}

footer {
  clear: both;
  display: flex;
  justify-content: center;
  margin-top: 22rem;
}

#aboutDiv {
}
