body {
  background-image: url("./restaurant.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 2rem 1rem;
}

h1 {
  color: #ffffff;
}

nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

#logo {
    width: 8rem;
    height: 4rem;
    border-radius: 4px;
    padding-right: 4rem;
}

button {
  border: none;
  border-radius: solid;
  color: #fff;
  background-color:  rgb(0, 0, 0, 0%);
  font-size: 1rem;
  margin: 0 2rem;
  cursor: pointer;
}

#reservation {
  border: solid 1px #fff;
  padding: 0.5rem;
  border-radius: 6px;
  margin-left: 2rem;
}

/* #content {
} */

#info {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  background: rgba(28, 28, 28, 0.7);
  position: relative;
  top: 15rem;
  left: 5rem;
  border-radius: 10px;
}

p {
  color: #fff;
}
