body {
  background-image: url("./restaurant.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 2rem 1rem;
}

h1 {
  color: #ffffff;
}

nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

#logo {
  width: 8rem;
  height: 4rem;
  border-radius: 4px;
  padding-right: 4rem;
}

button {
  border: none;
  border-radius: solid;
  color: #fff;
  background-color: rgb(0, 0, 0, 0%);
  font-size: 1rem;
  margin: 0 2rem;
  cursor: pointer;
}

#reservation {
  border: solid 1px #fff;
  padding: 0.5rem;
  border-radius: 6px;
  margin-left: 2rem;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  top: 10rem;
  position: relative;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: rgba(28, 28, 28, 0.9);
  border-radius: 10px;
}

#imgDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: rgba(28, 28, 28, 0.9);
  border-radius: 10px;
}

p {
  color: #fff;
  max-width: 50ch;
  line-height: 1.5rem;
}

img {
  width: 20rem;
  height: 15rem;
  border-radius: 8px;
}
